@import "tailwindcss";
@import "../vendor/shadcn-tailwind-4.13.0.css";
:root{--background:#0e0e10;--foreground:#f5f4f4;--primary:#d31c37;--primary-foreground:#ffffff;--muted:#242225;--muted-foreground:#aaa4a8;--border:#383438;--input:#514b50;--ring:#e3223e;--radius:0.625rem}
